.content-block-wrapper.l-flex {
  width: 120rem;
  height: 56.9rem;
  margin: 0 auto;
  justify-content: center;
}

.live-broadcast__slider {
  position: sticky;
  top: 5.875rem;
  bottom: 46.938rem;
  width: 14.3rem;
  height: 37.5rem;
  margin-top: 3.6rem;
}

.top-arrow-toggle,
.bottom-arrow-toggle { background-image: url("../../assets/icons/arrow-default.svg"); }

.top-arrow-toggle { transform: rotate(-.25turn); }

.bottom-arrow-toggle {
  position: absolute;
  bottom: 0;
  left: 5.6rem;
  transform: rotate(.25turn);
}

.top-arrow-toggle:hover,
.bottom-arrow-toggle:hover { background-image: url("../../assets/icons/arrow-hover.svg"); }

.top-arrow-toggle:active,
.bottom-arrow-toggle:active { background-image: url("../../assets/icons/arrow-active.svg"); }


.slider__arrow-toggle,
.live-broadcast__slide {
  display: block;
  margin: 0 auto;
}

.live-broadcast__slide {
  display: none;
  width: 6.75rem;
  height: 6.75rem;
  margin-top: .39rem;
  background-image: url("../../assets/icons/picture_active.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.live-broadcast__slide:hover { filter: brightness(1.2); }

.live-broadcast__slide__active:hover,
.live-broadcast__slide-helper:hover { filter: none; }

.live-broadcast__slide-helper {
  display: block;
  width: 6.75rem;
  height: 6.75rem;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}

.live-broadcast__slide__active {
  width: 9.813rem;
  height: 9.813rem;
  padding-top: 1.1rem;
}

.live-broadcast__slide__active .live-broadcast__slide-helper {
  width: 8.563rem;
  height: 8.563rem;
}

.live-broadcast__streaming-block {
  width: 106rem;
  padding-top: 3.6rem;
  padding-left: 9.5rem;
}

.live-broadcast__streaming-block .content-block__heading {
  text-align: left !important;
  padding-top: 0;
  padding-bottom: 2.3rem;
}

.streaming-block.l-flex { justify-content: left; }

.streaming-block__video {
  width: 49.375rem;
  height: 27.625rem;
  border-radius: 0.313rem;
}

.streaming-block__gallery { margin-top: 1.5rem; }

.gallery__item {
  width: 15.375rem;
  height: 8.813rem;
  background-image: url("../../assets/images/stream.jpg");
  background-size: 100%;
  border-radius: 0.313rem;
}

.gallery__toggle-wrapper.l-flex {
  width: 2.313rem;
  margin: 0 auto;
}

.gallery__toggle-point {
  width: .5rem;
  height: .5rem;
  align-items: center;
  margin-top: 2rem;
  border-radius: 50%;
  background-color: #c4c4c4;
}

.gallery__toggle-point:hover { background: linear-gradient(106.89deg, #828282 -14.32%, #333333 100.68%); }

.gallery__toggle-point:active {
  width: 0.688rem;
  height: 0.688rem;
  background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
}

.streaming-block__info {
  width: 23.75rem;
  margin-left: 1.7rem;
}

.streaming-block__info-elem { margin-bottom: .7rem; }

.streaming-block__info-elem .content-block__subheading {
  text-align: left;
  line-height: 1.5rem;
  margin-bottom: .4rem;
}

.diet-text {
  width: 22.8rem;
  line-height: 1rem;
}

.streaming-block__info .content-block__btn {
  width: 12.125rem;
  margin-top: 2.2rem;
  margin-left: 0;
}
