.animal-choice {
  height: 80.45rem;
}

.animal-choice .content-block__heading {
  padding-top: 3.5rem;
  padding-bottom: 1.3rem;
}

.animal-choice .content-block__text {
  display: block;
  width: 49.375rem;
  margin: 0 auto;
}

.animal-choice__slides.l-flex {
  width: 75rem;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 3.1rem;
}

.animal-choice__slide {
  width: 9.813rem;
  height: 9.813rem;
  padding-top: 1.9rem;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.animal-choice__slide:hover { filter: brightness(1.3); }

.animal-choice__slide-helper {
  display: block;
  width: 6.75rem;
  height: 6.75rem;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
  padding-top: 0;
}

.animal-choice__slide__active {

  padding-top: .5rem;
  background-image: url("../assets/icons/picture_active.svg");
}

.animal-choice__slide__active .animal-choice__slide-helper {
  width: 8.563rem;
  height: 8.563rem;
}

.map-block__map-flag[data-flag="4"] { background-image: url("../assets/icons/map-flag-frame-active.svg"); }
