.animal-choice {
  height: 80.45rem;
}

.animal-choice .content-block__heading {
  padding-top: 3.5rem;
  padding-bottom: 1.3rem;
}

.animal-choice .content-block__text {
  display: block;
  width: 49.375rem;
  margin: 0 auto;
}

.animal-choice__slides.l-flex {
  width: 74.938rem;
  height: 9.813rem;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 3.2rem;
}

.animal-choice__slide {
  width: 6.75rem;
  height: 6.75rem;
  margin-left: .9rem;
  margin-right: .9rem;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.animal-choice__slide:hover { filter: brightness(1.3); }

.animal-choice__slide-helper {
  display: block;
  width: 6.75rem;
  height: 6.75rem;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}

.animal-choice__slide__active {
  width: 9.813rem;
  height: 9.813rem;
  margin-left: 0;
  margin-right: 0;
  padding-top: 1.1rem;
  background-image: url("../assets/icons/picture_active.svg");
}

.animal-choice__slide__active .animal-choice__slide-helper {
  width: 8.563rem;
  height: 8.563rem;
}

.animal-choice__slide__active:hover { filter: none; }

.animal-choice__map-wrapper { margin-top: 5.1rem; }

.map-block__map-flag[data-flag="1"] {
  top: 5.3rem;
  left: 8.5rem;
}

.map-block__map-flag[data-flag="4"] {
  top: 6rem;
  right: 14.5rem;
  background-image: url("../assets/icons/map-flag-frame-active.svg");
}

.animal-choice__map-wrapper .content-block__btn {
  margin-top: 2.9rem;
}